<?xml version="1.0" encoding="utf-8"?>
<ScriptConfiguration>
  <Domain2Check>contoso.com</Domain2Check>
  <EventlogCheckDays>1</EventlogCheckDays>
  <MailSettings>
    <SendMail>1</SendMail>
    <SMTP-Server>mail.contoso.com</SMTP-Server>
    <Sender>ActiveDirectory@contoso.com</Sender>
    <Subject>DC Health Report</Subject>
    <RecipientList>
      <Recipient>admin@contoso.com</Recipient>
    </RecipientList>
  </MailSettings>
  <CheckFile>
    <FullName>C:\Windows\System32\MyImportantComapanyTool.exe</FullName>
  </CheckFile>
  <CheckService>
    <Service>
      <ServiceName>ntds</ServiceName>
      <StartMode>Auto</StartMode>
      <State>Running</State>
    </Service>
    <Service>
      <ServiceName>dfs</ServiceName>
      <StartMode>Auto</StartMode>
      <State>Running</State>
    </Service>
    <Service>
      <ServiceName>dfsr</ServiceName>
      <StartMode>Auto</StartMode>
      <State>Running</State>
    </Service>
    <Service>
      <ServiceName>ismserv</ServiceName>
      <StartMode>Auto</StartMode>
      <State>Running</State>
    </Service>
    <Service>
      <ServiceName>kdc</ServiceName>
      <StartMode>Auto</StartMode>
      <State>Running</State>
    </Service>
    <Service>
      <ServiceName>netlogon</ServiceName>
      <StartMode>Auto</StartMode>
      <State>Running</State>
    </Service>
    <Service>
      <ServiceName>w32time</ServiceName>
      <StartMode>Auto</StartMode>
      <State>Running</State>
    </Service>
    <Service>
      <ServiceName>lanmanworkstation</ServiceName>
      <StartMode>Auto</StartMode>
      <State>Running</State>
    </Service>
    <Service>
      <ServiceName>lanmanserver</ServiceName>
      <StartMode>Auto</StartMode>
      <State>Running</State>
    </Service>
    <Service>
      <ServiceName>adws</ServiceName>
      <StartMode>Auto</StartMode>
      <State>Running</State>
    </Service>
  </CheckService>
</ScriptConfiguration>